* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    overflow-x: hidden;
}

.logo-flutuante {
    height: 40px;
    position: fixed;
    cursor: pointer;
    top: 93%;
    left: 2%;
}

header {
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.header-logotipo {
    height: 35px;
}

.header-logotipo.hidden {
    display: none;
}

.header-navigation {
    display: flex;
}

.header-navigation li {
    margin-left: 15px;
    font-size: 20px;
    color: #ffffff7d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.header-navigation li:hover {
    transform: translateY(-10px);
    color: #fff;
}

.card {
    visibility: hidden;
    cursor: pointer;

}

.card:hover {
    border: 2px solid rgba(12, 10, 10, 0.248);
}

.titulo {
    visibility: hidden;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 80px;
    gap: 30px;
}

.btn-menu {
    cursor: pointer;
}

.container-sessao3 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 400px;
    background-color: rgb(232, 227, 227);
}

.container-titulo {
    display: flex;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.container-sessao4 {
    display: flex;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.container-video {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.titulo {
    font-size: 25px;
    font-weight: 700;
    color: rgba(50, 49, 49, 0.531);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitulo {
    color: rgba(0, 128, 0, 0.754);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-redessociais img {
    display: flex;
    cursor: pointer;
}

.container-sobre h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.line {
    width: 50px;
    height: 4px;
    background-color: #d8ae70;
}

.container-footer {
    display: flex;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background: black;
    color: #ffffff9d;
}

.footer-navigation {
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    gap: 10px;
}

.footer-navigation:hover {
    color: #fff;
    transform: translateX(-20px);
}

/* RESPONSIVIDADE PARA DISPOSITIVOS MENORES  */
/* Resolução máxima para 1200px */
@media (max-width: 1200px) {
    .container-cards {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .header-navigation {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu.open {
        display: block;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        padding-top: 1.2rem;
        color: rgba(255, 255, 255, 0.505);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .nav-item:hover {
        color: #fff;
        transition: 0.2s;
    }

    .container-video {
        flex-wrap: wrap;
        gap: 0px;
    }
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.container-menu-close {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.close-menu {
    color: white;
    background-color: rgba(255, 0, 0, 0.661);
    width: 80px;
    border-radius: 20px;
    border: none;
}

.mobile-menu.open {
    display: flex;
}

.header-navigation-mobile {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    width: 100%;
}

.header-navigation-mobile li {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 15px 0;
    font-size: 24px;
    color: white;
}
/* Resolução máxima para 768px */
@media (max-width: 768px) {
    .header-navigation {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .header-logotipo {
        display: block;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
}